streamlit==1.41.1           # For the Streamlit interface
nltk==3.8.1                 # For text preprocessing (stopwords, lemmatization)
pyspellchecker==0.7.1       # For spell checking
tensorflow      # For the TensorFlow-based model and tokenizer
tensorboard
shap
matplotlib